---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/post/FormattedDate.astro";
import { map } from "lodash-es";
import { calculateReadingTime } from "../utils/posts";

type Props = {
  posts: Array<CollectionEntry<"blog">>;
};

const { posts } = Astro.props;
---

<ul class="posts">
  {
    map(posts, (post) => (
      <li class="post">
        <a class="post-link" href={`/post/${post.slug}/`}>
          <div
            class="hero-image"
            style={`background-image: url(${post.data.heroImage});`}
            title={post.data.title}
          />
          <h3 class="title">{post.data.title}</h3>
        </a>
        <div class="info">
          <div class="categories">
            {map(post.data.categories, (category) => (
              <a class="category-link" href={`/blog/${category}/`}>
                {category}
              </a>
            ))}
          </div>
          <div class="date">
            <span class="reading-time">{calculateReadingTime(post.body)} min</span>
            <FormattedDate date={post.data.pubDate} />
          </div>
        </div>
        <div class="description">{post.data.description}</div>
      </li>
    ))
  }
</ul>

<style>
  .posts {
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 8px;
    margin: 0;
    padding: 0;

    @media screen and (min-width: 769px) {
      gap: 16px;
    }
  }
</style>
