---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/post/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, pubDate, updatedDate, heroImage, readingTime } = Astro.props;
---

<article class="post">
  <header class="hero">
    <h1 class="title">{title}</h1>
    {heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
    <div class="info">
      <div class="reading-time">{readingTime} min read</div>
      <div class="date">
        <FormattedDate date={pubDate} />
        {
          updatedDate && (
            <span class="updated">
              - Last updated on <FormattedDate date={updatedDate} />
            </span>
          )
        }
      </div>
    </div>
  </header>
  <slot />
</article>

<style>
  .hero {
    width: 100%;

    img {
      display: block;
      margin: 0 auto;
      border-radius: 12px;
      box-shadow: var(--box-shadow);
    }
  }

  .title {
    margin: 12px 0;
    text-align: center;
    font-size: 32px;

    @media (min-width: 769px) {
      font-size: 46px;
    }
  }

  .info {
    font-size: 12px;
    margin-bottom: 0;
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
  }
  .updated {
    font-style: italic;
  }
</style>
